$COL_TYPES.getRowObject(0).getColumnName()
$COL_TYPES.getRowObject(0).getJavaType()
#set($classType = $classloader.loadClass("java.lang.String"))
$COL_TYPES.setValue(1, 1, $classType)
$COL_TYPES.setValu1e(2, 3, $classType)
$COL_1TYPES.setValu1e(2, 3, $classType)
#parse("dofoo.vm")